/*movil max 920px
colores: https://coolors.co/browser/best/1;
letras: https://fonts.google.com/
grid area: https://codepen.io/Fanks/pen/JgyXWB
css grid: https://codepen.io/Fanks/pen/PMKZMv
*/

body{
	background: lightgrey;
}

h1{
	font-family: "Poppins";
}

p{
	font-family:"Roboto";
} 

.container {
  font-family:"Arial Black";
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m c c c c c c"
    "f f f f f f f f f f f f";
}
.header {
  background:#2b2d42;
  grid-area: h;
}

.menu {
  background:#ef233c;
  grid-area: m;
}

.content {
  background:#8d99ae;
  grid-area: c;
}

.footer {
  background:#edf2f4;
  grid-area: f;
}

.caja {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:10px;
}
img{
	width: 100%;
	margin:15px 0;
}


@media (max-width: 920px) {  
    .container {
    display: grid;
	grid-template-columns: repeat(12 1fr);
	grid-template-rows: 50px auto auto 50px;
    grid-template-areas:  

            "h h h h h h h h h h h h"  
            "m m m m m m m m m m m m"
            "c c c c c c c c c c c c"
            "f f f f f f f f f f f f";}
}


